section .elemento1,
section .elemento2,
section .elemento3 {
    color: red;
}

/* MODIFICANDO LOS ELEMENTOS 1, 2 Y 3 QUE ESTÁN DENTRO DE ALGÚN SECTION */

section :is(.elemento1, .elemento2, .elemento3) {
    color: blue;
}

/* Si queremos que NO CAMBIE la especificidad, usamos where() */

section :where(.elemento1, .elemento2, .elemento3) {
    color: green;
}

/* EN CASO DE QUE A UL LE SIGA UN DIV, MODIFICAMOS EL UL */

ul:has(+div) {
    color: blue;
}

div {
    padding: 20px;
}

label {
    font-weight: bold;
}

label:has(input:valid), input:valid {
    color: green;
}

label:has(input:invalid), input:invalid {
    color: red;
}