body {
    margin: 0;
    font-family: sans-serif;
    background-color: #bbb;
}

.box {
    width: 250px;
    height: 270px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #0006;
    text-wrap: pretty;
}

h1 {
    text-wrap: balance;
}

/* */